body{
	margin: 0;
	background-color: #1f1e1e;
}
header,footer{
	display: flex;
	background-color: #6c6045;
	position: sticky;
	width: 100%;
	box-sizing: border-box;
	border: 3px solid black;
	box-shadow: 0 0 0 4px #84754f inset;
}
header{
	padding: 0.5em;
	top: 0;
	justify-content: space-between;
	z-index: 1;
}
html:not([lang],[class]) header div:last-child{
	display: none;	
}
footer{
	color: #eee;
	padding: .2em .5em;
	bottom: 0;
	font-family: monospace;
}
main:not(:has(ul)) ~ footer{
	position: fixed;
}
footer *{
	flex: 1;
}
input[type="file"]{
	display: none;
}
label:hover, button:hover{
	filter: brightness(1.1);
}
label, button{
	cursor: pointer;
	display: inline-block;
	background-color: #7e8994;
	box-shadow: 0 0 0 3px #9da8b0 inset;
	border: 3px solid black;
	padding: .5em 1em;
	margin: 0 .25em;
	color: black;
	font-weight: bold;
	text-shadow: 0 0 3px #9da8b0, 0 0 3px #9da8b0, 0 0 3px #9da8b0, 0 0 3px #9da8b0;
	font-size: 1em;
	font-family: sans-serif;
	user-select: none;
}
ul{
	margin: 1px;
	padding-left: .5em;
	list-style: none;
	border: 1px solid black;
	outline: 2px solid #393633;
	border-radius: .5em .5em 0 1em;
	overflow: hidden;
}
.value{
	color: #eee;
	word-break: break-word;
}
li:has(ul) ~ li:has(ul){
	margin-top: .5em;
}
li.key_value{
	position: relative;
	display: flex;
	align-items: baseline;
	gap: 1em;
	padding: .2em 0;
}
li.key_value *{
	flex: 2;
}
li.key_value :first-child{
	flex: 1;
	color: #BCA058;
}
li.key_value:nth-child(even) {
	background-color: #181818;
	margin-left: -.5em;
	padding-left: .5em;
}
li.key_value:has(.needs_translation)::after,
.collapse_button:has(~.needs_translation.collapsed)::after{
	content: "!";
	position: absolute;
	right: 0;
	background-color: #a86b14;
	border: 2px solid black;
	box-shadow: 0 0 0 2px #c78900 inset;
	color: #eee24e;
	font-weight: bold;
	text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black;
	padding: .1em .25em;
}
.collapse_button:has(~.needs_translation.collapsed)::after{
	top: 1em;
}
.collapse_button:hover{
	filter: brightness(1.1);
	backdrop-filter: brightness(1.1);
}
.collapse_button.change_arrow::before{
	content: "►";
}
.collapse_button::before{
	content: "▼";
	font-size: .75em;
}
.collapse_button{
	position: relative;
	display: block;
	cursor: pointer;
	color: #DCB028;
}
ul.collapsed{
	height: 1em;
	background-color: #393633;
}
.collapsed > li{
	display: none;
}
textarea{
	overflow: hidden;
	font: inherit;
	border-style: inset;
	field-sizing: content;
	background-color: #aa9c7a;
	color: #111;
	padding-inline: .5em;
	margin-right: .5em;
}

div.translate{
	opacity: 0;
	height: 0;
	width: 0;
	position: fixed;
	overflow: hidden;
	top: 0;
}